div.section-inner.py-20
    div.form-wrapper
        form(class="eitform" enctype="multipart/form-data" id="lightprof-application-form" method='post' action='https://forms.n11r.eu/formhandler.php')
            input(id="form-title" name="form-title" class="hidden" value="lightprof-application")
            //- input(name="secret-token" value="Customer_Backrest_Relapse6" class="hidden")
            h2.leading-12.mb-4.overline.overline-blue.text-3xl.text-blue.font-bold 1. Course Selection
            h3.text-xl.text-blue.font-bold.mb-4 Upcoming courses
            ul.ml-5.mb-4.list-disc.mb-8.list-inside
                li <strong>Introductory Module (Basic Level)</strong> – First Online meeting: November 1, 2021 / Live phase: November 24 - November 26, 2021
                li <strong>Steel (Advanced Level)</strong> – First Online meeting: September 1, 2021 / Live phase: September 29 - October 1, 2021
                li <strong>Magnesium (Advanced Level)</strong> – First Online meeting: September 8, 2021 / Live phase: October 6 - October 8, 2021
                li <strong>Aluminium Alloys (Advanced Level)</strong> – First Online meeting: October 18, 2021 / Live phase: November 18 - November 20, 2021
                li <strong>Cast Irons (Advanced Level)</strong> – First Online meeting: September 15, 2021 / Live phase: October 13 - October 15, 2021
                li <strong>Fiber Reinforced Plastics</strong> – <a href="mailto:professional.training@eitrawmaterials.eu">Contact us to be alerted to new dates</a>
                li <strong>Powder Metallurgy and Additive Manufacturing</strong> – <a href="mailto:professional.training@eitrawmaterials.eu">Contact us to be alerted to new dates</a>
                li <strong>Polymers</strong> – <a href="mailto:professional.training@eitrawmaterials.eu">Contact us to be alerted to new dates</a>
            div.bg-teal-lighter.corner-lg.p-12.mb-12
                label Please select the module you would like to take part in
                    select(name="desired-module" id="desired-module" required)
                        option(value="", disabled, selected) Select module
                        option(value="Introductory") Introductory Module (Basic Level) – November 2021
                        option(value="Steel") Steel (Advanced Level) – September-October 2021
                        option(value="Magnesium") Magnesium (Advanced Level) – September-October 2021
                        option(value="Aluminium-Alloys") Aluminium Alloys (Advanced Level) – October-November 2021
                        option(value="Cast-Irons") Cast Irons (Advanced Level) – September-October 2021
                p.mb-2 The participation fee amounts to
                p.mb-2.pl-4 € 900,- Training fee<br>€ 235,- Examination fee
                p.mb-2 Fees are exclusive of value added tax.
                p.mb-4 Please note that the training and examination will be conducted online.
                div.fieldgroup
                    label I hereby apply for
                        select(name="applying-for" id="applying-for" required)
                            option(value="", disabled, selected) Please select
                            option(value="training") Training only
                            option(value="training+examination") Training and examination
                    label If you have a discount code, please enter it here
                        input(name="discount-code")
            h2.leading-12.mb-12.overline.overline-blue.text-3xl.text-blue.font-bold 2. Personal Information
            div.bg-teal-lighter.corner-lg.p-12.mb-12
                div.fieldgroup
                    label First Name
                        input(name="firstname" required)
                    label Last Name
                        input(name="lastname" required)
                    label Email
                        input(type="email" name="email" required)
                    label Gender
                        select(name="gender" id="gender" required)
                            option(value="", disabled, selected) Please select
                            option(value="female") Female
                            option(value="male") Male
                            option(value="other-or-nondisclosed") Other/prefer not to say
                    label City
                        input(name="city" required)
                    label Country
                        input(name="country" required)
                    label Job title
                        input(name="job-title" required)
            h2.leading-12.mb-12.overline.overline-blue.text-3xl.text-blue.font-bold 3. Information for EIT RawMaterials
            div.bg-teal-lighter.corner-lg.p-12.mb-12
                div.fieldgroup
                    //- label If you are one of the selected participants, who will pay for the course fee?
                        select(name="who-pays" required)
                            option(value="", disabled, selected) Select answer
                            option Me
                            option My organisation
                    label Where did you hear about Lightweighting Professional?
                        select(name="heard-from" id="heard-from" required)
                            option(value="", disabled, selected) Select answer
                            option Social Media - LinkedIn
                            option Social Media - Twitter
                            option Social Media - Facebook
                            option EIT RawMaterials website
                            option EIT RawMaterials Alumni
                            option Leichtbauwelt
                            option Nouvelle Usine
                            option Bilateral contact
                            option Other
                    label#heard-source.hidden Where did you hear about Lightweighting Professional?<br>(please specify)
                        input(name="heard-from-source")
                    //- label Upload your CV (PDF &lt;20 MB)...
                        input(type="file" name="file" id="file" accept=".pdf")
                    label Please provide the full name and postal address of the organization or person who is paying for the course
                        textarea(name='payer')
                    label If an organization based in the EU is the paying institution, please, provide its VAT number
                        input(name="payer-vat" id="payer-vat" type="text")
                div
                    label Additional comments (optional)
                        textarea(name='comments')
            div
                p.font-bold.blue.mb-4 If you would like to receive further information from EIT RawMaterials on any of the following topics, please select them below.
                label.font-normal.text-grey
                    input(type='hidden' name='subscribe-alumni' value='no')
                    input(type='checkbox' name='subscribe-alumni' value='yes')
                    | EIT RawMaterials Alumni Association
                label.font-normal.text-grey
                    input(type='hidden' name='subscribe-academy-programmes-and-opportunities' value='no')
                    input(type='checkbox' name='subscribe-academy-programmes-and-opportunities' value='yes')
                    | Education programmes and opportunities from the RawMaterials Academy
                label.font-normal.text-grey
                    input(type='hidden' name='subscribe-innovation-and-business-support-opportunities'  value='no')
                    input(type='checkbox' name='subscribe-innovation-and-business-support-opportunities'  value='yes')
                    | Innovation and business support opportunities from EIT RawMaterials
            div.mt-6
                p You can change your mind at any time by clicking the unsubscribe link in the footer of any email you receive from us, or by contacting us at <a href="mailto:academy@eitrawmaterials.eu">academy@eitrawmaterials.eu</a>. We will keep your personal information private and secure, and will only use your data for the agreed and selected reasons. For more information about our general privacy practices please read our privacy policy at <a target="_blank" href="https://eitrawmaterials.eu/privacy-policy/">eitrawmaterials.eu/privacy-policy</a>. By filling this form, you agree that we may process your information in accordance with these terms.
            div.mt-6
                label.text-grey
                    input(type='hidden' name='agree-privacy-terms' value='no')
                    input(type='checkbox' name='agree-privacy-terms' value='yes' required)
                    | I agree to my data being stored in accordance with the <a href="https://lightprof.eitrawmaterials.eu/privacy.html" target="_blank">privacy policy</a>, and for EIT RawMaterials to contact me regarding my booking.
            div.text-center.mt-20.flex.items-center
                button(type="submit" class="btn-submit button button-teal icon-arrow-right hover:button-blue my-12 mx-auto hide-on-submit") Submit Application
                img(alt='Loading...' src='/media/ajax-loader.gif', class="ajax-loader mx-auto my-12 hidden")
                p.submit-success.hero.my-0.mx-auto.text-center.hidden 
                    strong Thank you!&nbsp;
                    | Your application was received. We'll be in touch!
                p.submit-error.hero.my-0.mx-auto.text-center.hidden
                    strong Oh no!
                    | There was an error submitting your registration. Please contact <a href="mailto:academy@eitrawmaterials.eu">academy@eitrawmaterials.eu</a>.
