meta(property="og:title" content=meta.title)
meta(property="og:description" content=meta.description)
meta(property="og:url" content=meta.url)
meta(property="og:image" content=meta.image)
meta(name="twitter:card" content="summary_large_image")
