<h1>Privacy Policy</h1>
<h2>1. An overview of data protection</h2>
<h3>General information</h3>
<p>
  The following information will provide you with an easy to navigate overview
  of what will happen with your personal data when you visit this website. The
  term “personal data” comprises all data that can be used to personally
  identify you. For detailed information about the subject matter of data
  protection, please consult our Data Protection Declaration, which we have
  included beneath this copy.
</p>
<h3>Data recording on this website</h3>
<h4>
  Who is the responsible party for the recording of data on this website (i.e.,
  the “controller”)?
</h4>
<p>
  The data on this website is processed by the operator of the website, whose
  contact information is available under section “Information about the
  responsible party (referred to as the “controller” in the GDPR)” in this
  Privacy Policy.
</p>
<h4>How do we record your data?</h4>
<p>
  We collect your data as a result of your sharing of your data with us. This
  may, for instance be information you enter into our contact form.
</p>
<p>
  Other data shall be recorded by our IT systems automatically or after you
  consent to its recording during your website visit. This data comprises
  primarily technical information (e.g., web browser, operating system, or time
  the site was accessed). This information is recorded automatically when you
  access this website.
</p>
<h4>What are the purposes we use your data for?</h4>
<p>
  A portion of the information is generated to guarantee the error free
  provision of the website. Other data may be used to analyze your user
  patterns.
</p>
<h4>What rights do you have as far as your information is concerned?</h4>
<p>
  You have the right to receive information about the source, recipients, and
  purposes of your archived personal data at any time without having to pay a
  fee for such disclosures. You also have the right to demand that your data are
  rectified or eradicated. If you have consented to data processing, you have
  the option to revoke this consent at any time, which shall affect all future
  data processing. Moreover, you have the right to demand that the processing of
  your data be restricted under certain circumstances. Furthermore, you have the
  right to log a complaint with the competent supervising agency.
</p>
<p>
  Please do not hesitate to contact us at any time if you have questions about
  this or any other data protection related issues.
</p>
<h2>2. Hosting and Content Delivery Networks (CDN)</h2>
<h3>External Hosting</h3>
<p>
  This website is hosted by an external service provider (host). Personal data
  collected on this website are stored on the servers of the host. These may
  include, but are not limited to, IP addresses, contact requests, metadata and
  communications, contract information, contact information, names, web page
  access, and other data generated through a web site.
</p>
<p>
  The host is used for the purpose of fulfilling the contract with our potential
  and existing customers (Art. 6 para. 1 lit. b GDPR) and in the interest of
  secure, fast, and efficient provision of our online services by a professional
  provider (Art. 6 para. 1 lit. f GDPR).
</p>
<p>
  Our host will only process your data to the extent necessary to fulfil its
  performance obligations and to follow our instructions with respect to such
  data.
</p>
<p>We are using the following host:</p>
<p>
  Netlify, Inc.<br />
  2343 3rd St #296<br />
  San Francisco<br />
  CA 94107<br />
  USA
</p>
<h2>3. General information and mandatory information</h2>
<h3>Data protection</h3>
<p>
  The operators of this website and its pages take the protection of your
  personal data very seriously. Hence, we handle your personal data as
  confidential information and in compliance with the statutory data protection
  regulations and this Data Protection Declaration.
</p>
<p>
  Whenever you use this website, a variety of personal information will be
  collected. Personal data comprises data that can be used to personally
  identify you. This Data Protection Declaration explains which data we collect
  as well as the purposes we use this data for. It also explains how, and for
  which purpose the information is collected.
</p>
<p>
  We herewith advise you that the transmission of data via the Internet (i.e.,
  through e-mail communications) may be prone to security gaps. It is not
  possible to completely protect data against third-party access.
</p>
<h3>
  Information about the responsible party (referred to as the “controller” in
  the GDPR)
</h3>
<p>The data processing controller on this website is:</p>
<p>
  EIT RawMaterials GmbH<br />
  Tauentzienstr. 11<br />
  Europa Center<br />
  10789 Berlin
</p>

<p>
  Phone: +49 30 263 66 46 60<br />
  E-mail: info@eitrawmaterials.eu
</p>
<p>
  The controller is the natural person or legal entity that single-handedly or
  jointly with others makes decisions as to the purposes of and resources for
  the processing of personal data (e.g., names, e-mail addresses, etc.).
</p>

<h3>Storage duration</h3>
<p>
  Unless a more specific storage period has been specified in this privacy
  policy, your personal data will remain with us until the purpose for which it
  was collected no longer applies. If you assert a justified request for
  deletion or revoke your consent to data processing, your data will be deleted,
  unless we have other legally permissible reasons for storing your personal
  data (e.g., tax or commercial law retention periods); in the latter case, the
  deletion will take place after these reasons cease to apply.
</p>
<h3>Designation of a data protection officer as mandated by law</h3>
<p>We have appointed a data protection officer for our company.</p>
<p>
  WIEMER / ARNDT UG (haftungsbeschränkt)<br />
  Rebecca Wiemer<br />
  Adolfstraße 4<br />
  13347 Berlin<br />
  wiemer-arndt.de
</p>

<p>
  Phone: 07664-9629760<br />
  E-mail: kontakt@wiemer-arndt.de
</p>
<h3>Information on data transfer to the USA</h3>
<p>
  Our website uses, in particular, tools from companies based in the USA. When
  these tools are active, your personal information may be transferred to the US
  servers of these companies. We must point out that the USA is not a safe third
  country within the meaning of EU data protection law. US companies are
  required to release personal data to security authorities without you as the
  data subject being able to take legal action against this. The possibility
  cannot therefore be excluded that US authorities (e.g. secret services) may
  process, evaluate, and permanently store your data on US servers for
  monitoring purposes.  We have no influence over these processing activities.
</p>
<h3>Revocation of your consent to the processing of data</h3>
<p>
  A wide range of data processing transactions are possible only subject to your
  express consent. You can also revoke at any time any consent you have already
  given us. This shall be without prejudice to the lawfulness of any data
  collection that occurred prior to your revocation.
</p>
<h3>
  Right to object to the collection of data in special cases; right to object to
  direct advertising (Art. 21 GDPR)
</h3>
<p>
  IN THE EVENT THAT DATA ARE PROCESSED ON THE BASIS OF ART. 6 SECT. 1 LIT. E OR
  F GDPR, YOU HAVE THE RIGHT TO AT ANY TIME OBJECT TO THE PROCESSING OF YOUR
  PERSONAL DATA BASED ON GROUNDS ARISING FROM YOUR UNIQUE SITUATION. THIS ALSO
  APPLIES TO ANY PROFILING BASED ON THESE PROVISIONS. TO DETERMINE THE LEGAL
  BASIS, ON WHICH ANY PROCESSING OF DATA IS BASED, PLEASE CONSULT THIS DATA
  PROTECTION DECLARATION. IF YOU LOG AN OBJECTION, WE WILL NO LONGER PROCESS
  YOUR AFFECTED PERSONAL DATA, UNLESS WE ARE IN A POSITION TO PRESENT COMPELLING
  PROTECTION WORTHY GROUNDS FOR THE PROCESSING OF YOUR DATA, THAT OUTWEIGH YOUR
  INTERESTS, RIGHTS AND FREEDOMS OR IF THE PURPOSE OF THE PROCESSING IS THE
  CLAIMING, EXERCISING OR DEFENCE OF LEGAL ENTITLEMENTS (OBJECTION PURSUANT TO
  ART. 21 SECT. 1 GDPR).
</p>
<p>
  IF YOUR PERSONAL DATA IS BEING PROCESSED IN ORDER TO ENGAGE IN DIRECT
  ADVERTISING, YOU HAVE THE RIGHT TO AT ANY TIME OBJECT TO THE PROCESSING OF
  YOUR AFFECTED PERSONAL DATA FOR THE PURPOSES OF SUCH ADVERTISING. THIS ALSO
  APPLIES TO PROFILING TO THE EXTENT THAT IT IS AFFILIATED WITH SUCH DIRECT
  ADVERTISING. IF YOU OBJECT, YOUR PERSONAL DATA WILL SUBSEQUENTLY NO LONGER BE
  USED FOR DIRECT ADVERTISING PURPOSES (OBJECTION PURSUANT TO ART. 21 SECT. 2
  GDPR).
</p>
<h3>Right to log a complaint with the competent supervisory agency</h3>
<p>
  In the event of violations of the GDPR, data subjects are entitled to log a
  complaint with a supervisory agency, in particular in the member state where
  they usually maintain their domicile, place of work or at the place where the
  alleged violation occurred. The right to log a complaint is in effect
  regardless of any other administrative or court proceedings available as legal
  recourses.
</p>
<h3>Right to data portability</h3>
<p>
  You have the right to demand that we hand over any data we automatically
  process on the basis of your consent or in order to fulfil a contract be
  handed over to you or a third party in a commonly used, machine readable
  format. If you should demand the direct transfer of the data to another
  controller, this will be done only if it is technically feasible.
</p>
<h3>SSL and/or TLS encryption</h3>
<p>
  For security reasons and to protect the transmission of confidential content,
  such as purchase orders or inquiries you submit to us as the website operator,
  this website uses either an SSL or a TLS encryption program. You can recognize
  an encrypted connection by checking whether the address line of the browser
  switches from “http://” to “https://” and also by the appearance of the lock
  icon in the browser line.
</p>
<p>
  If the SSL or TLS encryption is activated, data you transmit to us cannot be
  read by third parties.
</p>
<h3>Information about, rectification and eradication of data</h3>
<p>
  Within the scope of the applicable statutory provisions, you have the right to
  at any time demand information about your archived personal data, their source
  and recipients as well as the purpose of the processing of your data. You may
  also have a right to have your data rectified or eradicated. If you have
  questions about this subject matter or any other questions about personal
  data, please do not hesitate to contact us at any time.
</p>
<h3>Right to demand processing restrictions</h3>
<p>
  You have the right to demand the imposition of restrictions as far as the
  processing of your personal data is concerned. To do so, you may contact us at
  any time. The right to demand restriction of processing applies in the
  following cases:
</p>
<ul>
  <li>
    In the event that you should dispute the correctness of your data archived
    by us, we will usually need some time to verify this claim. During the time
    that this investigation is ongoing, you have the right to demand that we
    restrict the processing of your personal data.
  </li>
  <li>
    If the processing of your personal data was/is conducted in an unlawful
    manner, you have the option to demand the restriction of the processing of
    your data in lieu of demanding the eradication of this data.
  </li>
  <li>
    If we do not need your personal data any longer and you need it to exercise,
    defend or claim legal entitlements, you have the right to demand the
    restriction of the processing of your personal data instead of its
    eradication.
  </li>
  <li>
    If you have raised an objection pursuant to Art. 21 Sect. 1 GDPR, your
    rights and our rights will have to be weighed against each other. As long as
    it has not been determined whose interests prevail, you have the right to
    demand a restriction of the processing of your personal data.
  </li>
</ul>
<p>
  If you have restricted the processing of your personal data, these data – with
  the exception of their archiving – may be processed only subject to your
  consent or to claim, exercise or defend legal entitlements or to protect the
  rights of other natural persons or legal entities or for important public
  interest reasons cited by the European Union or a member state of the EU.
</p>
<h2>4. Recording of data on this website</h2>
<h3>Server log files</h3>
<p>
  The provider of this website and its pages automatically collects and stores
  information in so-called server log files, which your browser communicates to
  us automatically. The information comprises:
</p>
<ul>
  <li>The type and version of browser used</li>
  <li>The used operating system</li>
  <li>Referrer URL</li>
  <li>The hostname of the accessing computer</li>
  <li>The time of the server inquiry</li>
  <li>The IP address</li>
</ul>
<p>This data is not merged with other data sources.</p>
<p>
  This data is recorded on the basis of Art. 6 Sect. 1 lit. f GDPR. The operator
  of the website has a legitimate interest in the technically error free
  depiction and the optimization of the operator’s website. In order to achieve
  this, server log files must be recorded.
</p>
<h3>Request by e-mail, telephone, or fax</h3>
<p>
  If you contact us by e-mail, telephone or fax, your request, including all
  resulting personal data (name, request) will be stored and processed by us for
  the purpose of processing your request. We do not pass these data on without
  your consent.
</p>
<p>
  These data are processed on the basis of Art. 6 Sect. 1 lit. b GDPR if your
  inquiry is related to the fulfillment of a contract or is required for the
  performance of pre-contractual measures. In all other cases, the data are
  processed on the basis of our legitimate interest in the effective handling of
  inquiries submitted to us (Art. 6 Sect. 1 lit. f GDPR) or on the basis of your
  consent (Art. 6 Sect. 1 lit. a GDPR) if it has been obtained.
</p>
<p>
  The data sent by you to us via contact requests remain with us until you
  request us to delete, revoke your consent to the storage or the purpose for
  the data storage lapses (e.g. after completion of your request). Mandatory
  statutory provisions - in particular statutory retention periods - remain
  unaffected.
</p>

<h2>5. Our social media appearances</h2>

<h3>Data processing through social networks</h3>

<p>
  We maintain publicly available profiles in social networks. The individual
  social networks we use can be found below.
</p>

<p>
  On the website we link to the online presence of the different social media.
  Our icon in this regard (/button/link) acts as an external link, so that no
  information is transmitted to the social media (e.g. Facebook) without
  clicking on the icon. When the user clicks on the icon, he or she is
  redirected to the website of the respective provider. The URL of the current
  page is transferred as a parameter. We have no influence on whether or how
  Facebook uses this date for evaluation. If you do not want Facebook to collect
  information about the use of our website, please do not click on the button.
</p>

<p>
  Unless otherwise stated in our privacy policy, we process the data of users
  insofar as they communicate with us within the social networks and platforms,
  e.g. write posts on our online presences or send us messages. The data you
  enter yourself on our social media sites, e.g. comments, videos, pictures,
  likes, public messages, etc., are published by the social media platform and
  are only used or processed by us to inform users and communicate with users.
  We also reserve the right to delete content if this should be necessary. Where
  applicable, we share your content on our site if this is a function of the
  social media platform and communicate with you via the social media platform.
  The processing of users' personal data is based on our legitimate interests in
  effectively informing users and communicating with users.
</p>

<p>
  Social networks such as Facebook, Twitter etc. can generally analyze your user
  behavior comprehensively if you visit their website or a website with
  integrated social media content (e.g. like buttons or banner ads). When you
  visit our social media pages, numerous data protection-relevant processing
  operations are triggered.
</p>

<p>
  In detail: If you are logged in to your social media account and visit our
  social media page, the operator of the social media portal can assign this
  visit to your user account. Under certain circumstances, your personal data
  may also be recorded if you are not logged in or do not have an account with
  the respective social media portal. In this case, this data is collected, for
  example, via cookies stored on your device or by recording your IP address.
</p>

<p>
  Using the data collected in this way, the operators of the social media
  portals can create user profiles in which their preferences and interests are
  stored. This way you can see interest-based advertising inside and outside of
  your social media presence. If you have an account with the social network,
  interest-based advertising can be displayed on any device you are logged in to
  or have logged in to.
</p>

<p>
  Please also note that we cannot retrace all processing operations on the
  social media portals. Depending on the provider, additional processing
  operations may therefore be carried out by the operators of the social media
  portals. Details can be found in the terms of use and privacy policy of the
  respective social media portals.
</p>

<h4>Legal basis</h4>

<p>
  Our social media appearances should ensure the widest possible presence on the
  Internet. This is a legitimate interest within the meaning of Art. 6 (1) lit.
  f GDPR. The analysis processes initiated by the social networks may be based
  on divergent legal bases to be specified by the operators of the social
  networks (e.g. consent within the meaning of Art. 6 (1) (a) GDPR).
</p>

<h4>Responsibility and assertion of rights</h4>

<p>
  If you visit one of our social media sites (e.g., Facebook), we, together with
  the operator of the social media platform, are responsible for the data
  processing operations triggered during this visit. You can in principle
  protect your rights (information, correction, deletion, limitation of
  processing, data portability and complaint) vis-à-vis us as well as vis-à-vis
  the operator of the respective social media portal (e.g. Facebook). Please
  note that despite the shared responsibility with the social media portal
  operators, we do not have full influence on the data processing operations of
  the social media portals. Our options are determined by the company policy of
  the respective provider.
</p>

<h4>Storage time</h4>

<p>
  The data collected directly from us via the social media presence will be
  deleted from our systems as soon as the purpose for their storage lapses, you
  ask us to delete it, you revoke your consent to the storage or the purpose for
  the data storage lapses. Stored cookies remain on your device until you delete
  them. Mandatory statutory provisions - in particular, retention periods -
  remain unaffected.
</p>

<p>
  We have no control over the storage duration of your data that are stored by
  the social network operators for their own purposes. For details, please
  contact the social network operators directly (e.g. in their privacy policy,
  see below).
</p>

<h3>Individual social networks</h3>

<h4>Facebook</h4>

<p>
  We have a profile on Facebook. The provider of this service is Facebook
  Ireland Limited, 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Ireland.
  According to Facebook’s statement the collected data will also be transferred
  to the USA and to other third-party countries.
</p>

<p>
  We have signed an agreement with Facebook on shared responsibility for the
  processing of data (Controller Addendum). This agreement determines which data
  processing operations we or Facebook are responsible for when you visit our
  Facebook Fanpage. This agreement can be viewed at the following link:
  https://www.facebook.com/legal/terms/page_controller_addendum.
</p>

<p>
  Setting options (objection options/opt-out): You can customize your
  advertising settings independently in your user account. Click on the
  following link and log in: https://www.facebook.com/settings?tab=ads.
</p>

<p>
  Data transmission to the US is based on the Standard Contractual Clauses (SCC)
  of the European Commission. Details can be found here:
  https://www.facebook.com/legal/EU_data_transfer_addendum and
  https://de-de.facebook.com/help/566994660333381. Details can be found in the
  Facebook privacy policy: https://www.facebook.com/about/privacy/.
</p>

<h4>Twitter</h4>

<p>
  We use the short message service Twitter. The provider is Twitter
  International Company, One Cumberland Place, Fenian Street, Dublin 2, D02
  AX07, Ireland.
</p>

<p>
  You can customize your Twitter privacy settings in your user account. Click on
  the following link and log in: https://twitter.com/personalization. Data
  transmission to the US is based on the Standard Contractual Clauses (SCC) of
  the European Commission. Details can be found here:
  https://gdpr.twitter.com/en/controller-to-controller-transfers.html. For
  details, see the Twitter Privacy Policy: https://twitter.com/privacy.
</p>

<h4>Instagram</h4>

<p>
  We have a profile on Instagram. The provider is Instagram Inc., 1601 Willow
  Road, Menlo Park, CA, 94025, USA. Data transmission to the US is based on the
  Standard Contractual Clauses (SCC) of the European Commission. Details can be
  found here: https://www.facebook.com/legal/EU_data_transfer_addendum,
  https://help.instagram.com/519522125107875 and
  https://de-de.facebook.com/help/566994660333381. For details on how they
  handle your personal information, see the Instagram Privacy Policy:
  https://help.instagram.com/519522125107875.
</p>

<h4>LinkedIn</h4>

<p>
  We have a LinkedIn profile. The provider is the LinkedIn Ireland Unlimited
  Company, Wilton Plaza, Wilton Place, Dublin 2, Ireland. LinkedIn uses
  advertising cookies. If you want to disable LinkedIn advertising cookies,
  please use the following link:
  https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out. Data
  transmission to the US is based on the Standard Contractual Clauses (SCC) of
  the European Commission.
</p>

<h4>YouTube</h4>

<p>
  We have a profile on YouTube. The provider is Google Ireland Limited, Gordon
  House, Barrow Street, Dublin 4, Ireland. Details on how they handle your
  personal data can be found in the YouTube privacy policy:
  https://policies.google.com/privacy?hl=en.
</p>
